.indexTitle {
    font-size: 150px;
    font-family: copperplate;
    color:rgb(30, 58, 49);
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

li::before{
    content: "\2022";
    padding-right: .5em;
    min-width: 1em;
    text-align: center;
}

li a {
    font-size: 45px;
    color: rgb(30,58,49);
    font-family: copperplate;
    text-decoration: none;
    position: relative;
}

a:hover {
    color:rgb(35, 2, 66);
    text-underline-offset: 5px;
    text-decoration-line: underline;
}

body {
    background-color: rgb(149, 219, 219);
}

hr {
    background-color:rgb(30, 58, 49);
    margin-bottom: 50px;
    height: 5px;
    width: 75%;
    border: none;
}